

@font-face {
    src: url("../../assets/cairo.woff2");
    font-family: "omarReal";

}


page-edit {
font-family: "omarReal" !important;
}

page-edit .toolbar-background-md

{
background: #fff;
}



page-edit .toolbar-title-md {
    direction: rtl !important;
    text-align: center;
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 10px

}


page-edit .list-md {
direction: rtl;
}

page-edit .list-header-md { 
margin: 0px;
background: #f5f5f5;
padding: 6px;
color: #000;
font-size: 17px;
}

page-edit .text-input-md {
    direction: rtl;
}

page-edit .text-input-md:focus {
    border-bottom: 0;
}

page-edit .item-md .item-button {
    padding: 25px;
    font-size: 17px;
    background: transparent;
    border: 1px solid #001f3f;
    color: #001f3f;
    margin-top: 15px;
 
}

page-edit .item-md p {
    color: #000;
}

page-edit .icon[item-start], page-edit i{
font-size: 25px !important;
color: #4E6377;
}



page-edit a {
    text-decoration: none;
    color: #000;
}

page-edit  .back-button.show-back-button span {
    color: #FFF !important;
}

page-edit textarea{
    width: 100%;
    padding: 7px;
    direction: rtl;
}

page-edit .pic, page-edit .pics{
    background: transparent !important;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #4E6377  ;
}

page-edit .pic img {
   width: 50px;
   height: 50px;
}

page-edit .pics img {
    width: 100%;
    height: 100%;
}



page-edit .grid {
    padding: 0;
}



page-edit .back-button-icon-md {
    color: #000;
}