<ion-header>
  <ion-navbar>
    <ion-title>
      
      <div class="mtitle">
          <p>الاعلانات المفضلة</p>
        </div>
  

    
    </ion-title>
  </ion-navbar>

  <ion-navbar>
     
   <div class="orders">
     <button (click)="selectprev()">{{selectValue}}
        <ion-icon name="md-arrow-dropdown" style="color:#00e;"></ion-icon>
     </button>

     <button (click)="selectType()">{{typeSelect}}
        <ion-icon name="md-arrow-dropdown" style="color:#0e0;"></ion-icon>
     </button>

   </div>

    </ion-navbar>

</ion-header>


  
  

<ion-content>


  <div class="waiteload">

    <div class="waite-contetn">


      <div class="spinner">
          <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
      </div>

      <div class="notfound">
        <img src="assets/imgs/notfound.svg">
        <p>لا يوجد عناصر</p>
      </div>

    </div>

  </div>

    <ion-card *ngFor="let item of list">

        <ion-item>
            <ion-avatar item-start>
              <img [src]="item.pic">
            </ion-avatar>
            <h2 class="username">
                    {{item.name}}
                   <img *ngIf="item.verified" src="assets/imgs/verfi.png" width="13" height="13" />
            </h2>
            <p>{{item.date}}</p>
          </ion-item>
        

        <div class="imagedev" [ngStyle]="{'background-image': 'url(' + item.image + ')'}">
        
          <div class="overlay">
            {{item.type}}
          </div>

        </div>

        <ion-card-content>
          <ion-card-title>
            {{item.title}}
            <ion-icon name="trash" float-start color="danger" (click)="delete(item.key)"></ion-icon>

            </ion-card-title>
          

            <ion-item>
                <img src="assets/imgs/placeholder.svg" item-start width="28" height="32" style="display:inline-block;width: auto;"/>

                <h2>{{item.prev}}</h2>
                <p>{{item.mntka}}</p>
              </ion-item>

              <ion-item>
                  <img src="assets/imgs/money-bag.svg" item-start width="28" height="32" style="display:inline-block;width: auto;"/>
                  <h2>{{item.price}}</h2>
                  <p>يمكنك الاتصال لتأكيد السعر</p>
                </ion-item>

        </ion-card-content>


                <div class="futures">
                    <div class="roms">
                      <button ion-button color="danger">{{item.roms}}</button>
                      <p>غرف</p>
                    </div>
                    <div class="tabk">
                      <button ion-button color="info">{{item.storey}}</button>
                      <p>طوابق</p>
                    </div>
                    <div class="space">
                      <button ion-button color="dark">{{item.space}}</button>
                      <p>المساحة</p>
                    </div>
                </div>
           
                <ion-item>
                  <div class="msection">
                  
                  <div>
                    <button ion-button icon-start clear item-end  (click)="view(item.$key,item.pic,item.name,item.date,item.type,item.title,item.prev,item.mntka,item.price,item.roms,item.storey,item.space,item.image,item.images,item.addr,item.phone,item.lat,item.lng,item.email,item.id)" >
                      معاينة
                          <ion-icon name="md-navigate"></ion-icon>
                        </button>
                  
                  </div>
                  <div class="warm">
                      <button ion-button icon-start clear item-start (click)="warn()">
                          ابلاغ
                          <ion-icon name="md-warning"></ion-icon>
                        </button>
                  </div>
                  

                  </div>
                  
                    </ion-item>
                  

      </ion-card>

</ion-content>
