page-map {
    font-family: 'Cairo', sans-serif;

}

page-map .toolbar-background-md

{
background: #fff;
}


page-map .toolbar-title-md {
    direction: rtl !important;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

}