page-viewgps {

}

page-viewgps {
    font-family: 'Cairo', sans-serif;

}

page-viewgps .toolbar-background-md

{
background: #fff;
}


page-viewgps .toolbar-title-md {
    direction: rtl !important;
    text-align: right;
    display: flex;
    justify-content: right;
    align-items: center;

}